<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Want to add a new ingredient?", new_ingredient_path, class: "btn btn-primary" %>
<!-- what if ingreident has more than one attribute? -->
